<ng-container *ngIf="formGroup$ | async as formGroup">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/', 'dashboard']">Dashboard</a></li>
      <li class="breadcrumb-item"><a
        [routerLink]="['/', 'display', formGroup.value.id]">View {{ formGroup.value.title }}</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit {{ formGroup.value.title }}</li>
    </ol>
  </nav>


  <h1>Edit todo</h1>
  timeout: {{ timeoutDelay$ | async | number:'1.0-0' }} <br/>
  <app-todo-form [formGroup]="formGroup" (validate)="submit($event)">
  </app-todo-form>


</ng-container>
