// Your variable overrides
/*
$body-bg: #fdb039;
$body-color: #105394;

$navbar-light-color:                rgba(orange, .5) !default;
$navbar-light-hover-color:          rgba(orange, .7) !default;
$navbar-light-active-color:         rgba(orange, .9) !default;
$navbar-light-disabled-color:       rgba(orange, .3) !default;
*/

@import "../node_modules/bootstrap/scss/bootstrap";
